[submodule "suckless/dwm"]
	path = suckless/dwm
	url = https://github.com/PlankCipher/dwm.git
[submodule "suckless/dwmblocks"]
	path = suckless/dwmblocks
	url = https://github.com/PlankCipher/dwmblocks.git
[submodule "suckless/dmenu"]
	path = suckless/dmenu
	url = https://github.com/PlankCipher/dmenu.git
[submodule "suckless/st"]
	path = suckless/st
	url = https://github.com/PlankCipher/st.git
